@tailwind base;
@tailwind components;
@tailwind utilities;

.inspiration-regular {
    font-family: "Inspiration", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 200px;
    z-index: 10;
    display: none;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  